<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

<head>
</head>


<body style="margin: 20px;">
    

<h1>입력한 전체 텍스트</h1>
<br>
<div class="result" style="border: 1px solid orange; width: 450px; height:180px;">

{{ fulltext }}
</div>
<br><br><br>
<h1>단어 - 단어 나온 횟수</h1>
<br>
<div class="result" style="border: 1px solid orange; width: 450px;">
{% for word, countTotal in dictionary %}
{{ word }}- <b style="color: red"> {{ countTotal }} </b>

<!--
    중괄호 두개, 띄어쓰기 앞뒤로 잘하기. 왜 중괄호 앞뒤로.. 중괄호 뜻은 뭐야 응 문법이야.
-->
<br>

{% endfor %}
</div>
<!--
    endfor는 모야..? 
-->

<br><br>
<nav aria-label="breadcrumb" style="width: 80px;">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>

    </ol>
</nav>

</body>